#foto {width: 400px;
    margin-left: 15%}
#pie {width: 20px}
#imgf {
    background-image:url('../img/fondo2.jpg');
    background-size: 10rem;
}
body { font-family: 'Open Sans', sans-serif; 
    background-color: rgba(255, 198, 11, 0.1)}
h1 {letter-spacing: 3mm;
    background-color: rgba(236, 93, 49, 0.9);
    text-align: center;}
ul {
    list-style-image: url(https://mdn.mozillademos.org/files/11981/starsolid.gif) ;
    margin-left: 1,5%; }
h2 {letter-spacing: 3mm;
    background-color: rgb(236, 102, 49);
    padding: 10px;
    }  
p {font-family: 'Indie Flower', cursive;
    font-size: 30px;}
footer {text-align: center; 
    background-color: rgba(255, 198, 11, 0.5);
    padding: 10px}
    
.bold {font-weight:bold}
.tab {margin-left: 85px}
.flexbox {
display:grid;
place-items: center;
vertical-align: middle;
text-align: center}
.icon-cog { color: rgb(236, 102, 49)}
.boton {background-color: rgba(235, 84, 24, 0.5)}